@use "./colors" as c;
@use "./variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  scrollbar-width: thin;
  scrollbar-color: c.$scrollbar-color transparent;
  z-index: 100;
}
html::-webkit-scrollbar {
  width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
  background-color: c.$scrollbar-color;
  border-radius: 9999px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: v.$font-size;
  color: c.$almost-black;
  background-color: c.$almost-white;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

details {
  cursor: pointer;
}

summary::marker {
  color: c.$transparent;
}
