$font-size: 1.125rem;

$main-transition: 300ms ease-in-out;

$navbar-item-padding: 0.25rem;
$navbar-item-height: calc($font-size + ($navbar-item-padding * 2));
$navbar-padding: 2rem;
$navbar-item-indentations: 3rem;

$logo-width: 5.25rem;
$logo-height: 1.6875rem;

$btn-padding-y: 0.5rem;
$btn-border-width: 0.0625rem;

$wrap-width-80: 80%;
$wrap-images-scale: 75%;
$wrap-images-wrap-width-after-scaling: calc(100% + (100% / 3));
$wrap-images-translate: calc(((100% - $wrap-images-scale) / 2) * -1);

$main-section-height: calc(
  100vh - ($navbar-padding * 2) - ($btn-padding-y * 2) - ($btn-border-width * 2) - $font-size
);
