@use "../global/colors" as c;
@use "../global/variables" as v;
@use "../global/mixins" as *;

.main {
  width: 100%;
  height: v.$main-section-height;
  padding: 0 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  justify-items: center;
  gap: 1rem;

  &__wrap {
    position: relative;
    max-width: v.$wrap-width-80;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 20% 15% 15%;
    align-items: end;
    justify-items: start;

    &--header {
      margin-top: 3rem;
      font-size: clamp(3rem, 5vw, 7.5rem);
      max-width: inherit;
    }

    &--text {
      max-width: inherit;
      align-self: center;
    }

    &--btn {
      align-self: start;
    }

    &__clients {
      @include flex(row, space-between, stretch);
      gap: 1rem;
      width: v.$wrap-width-80;
    }
  }

  &__image {
    background-image: url("/images/image-hero-desktop.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

@media (width > 768px) and (width <= 1440px) {
  .main {
    &__wrap {
      max-width: 100%;

      &--header {
        max-width: inherit;
        margin-top: 1rem;
      }

      &--text {
        max-width: inherit;
      }

      &__clients {
        width: 100%;
      }
    }

    &__image {
      background-position: right center;
    }
  }
}

@media (width < 930px) {
  .main {
    padding: 0 1rem 3rem;

    &__wrap {
      &__clients {
        scale: v.$wrap-images-scale;
        width: v.$wrap-images-wrap-width-after-scaling;
        translate: v.$wrap-images-translate;
        &--img {
          scale: v.$wrap-images-scale;
        }
      }
    }
  }
}

@media (width <= 768px) {
  .main {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 0;

    &__wrap {
      @include flex(column, flex-start, center);
      max-width: 100vw;
      padding: 0 1rem;

      &--header {
        font-size: clamp(2rem, 5vw, 3rem);
        margin-top: 1rem;
      }

      &--text {
        margin: 1rem 0;
        text-align: center;
      }

      &--btn {
        align-self: auto;
      }

      &__clients {
        width: 100vw;
        width: v.$wrap-images-wrap-width-after-scaling;
        translate: 0;
        margin-top: 2rem;
        justify-content: space-around;
      }
    }

    &__image {
      background-image: url("/images/image-hero-mobile.png");
      background-repeat: no-repeat;
      background-position: top center;
      max-height: 50%;
      width: 100%;
    }
  }
}
